#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  .container {
		padding: 10px;
		margin: 10px;
		h1 {
			text-align: center;
		}
		.form-container {
			padding: 10px;
		}
		.files-table-container {
			padding: 10px;
			.filter-btns-container {
				margin-bottom: 10px;
			}
		}
	}
}